body{
    background: linear-gradient(darksalmon,darkseagreen,darkslateblue);
}
h1{
    color:brown;
    background-color: coral;
}
#sketchImage{
    float: right;
}
canvas{
    border:5cm seashell solid;
    border-radius: 5cm;
    animation: example 4s infinite ;
}
@keyframes example{
    from {box-shadow: 2px 2px 38px burlywood}
    to {box-shadow: 2px 2px 38px beige}
}
p{
    padding-top: 10px;
    font-size: xx-large;
    color:brown;
}